<h1 class='inline-header'>Receipts</h1>
<%= link_to "Add New Receipt", new_receipt_path, class: "btn pull-right" %>

<table class="table table-striped">
  <tr>
    <th>Name</th>
  </tr>
  <% @receipts.each do |receipt| %>
    <tr id="<%= receipt.id %>">
      <td><%= receipt.name %></td>
    </tr>
  <% end %>
</table>
<%= paginate @receipts %>
